/*画面全体の設定*/
body,
html {
  height: 100%;
  margin: 0 auto;
}

/*--コンテンツ設定--*/

.area {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  padding: 5% 0;
  color: black;
  display: block;
}

.area h2 {
  font-family: 'Impact';
  font-size: 55px;
  text-align: center;
}

.area p {
  text-align: center;
  font-size: 14px;
}

div {
  box-sizing: border-box;
  color: #FFF;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.cd-fixed-bg h2 {
  font-family: 'Impact';
  font-size: 55px;
  text-align: center;
}

.blank{
  height: 10vh;
  min-height: auto;
}

/*--固定背景01--*/
.cd-fixed-bg.cd-bg-1 {
  background-image: url('./image/image001.jpg');
}

/*--固定背景02--*/
.cd-fixed-bg.cd-bg-2 {
  background-image: url('./image/image002.jpg');
}

/*--固定背景03--*/
.cd-fixed-bg.cd-bg-3 {
  background-image: url('image/image003.jpg');
}

/*--固定背景04--*/
.cd-fixed-bg.cd-bg-4 {
  background-image: url('./image/image004.jpg');
}